<!DOCTYPE>
<html>
	<head>
		<script src = "angular-1.7.8/angular.js"></script>
		<script>
			angular
				.module("gantt",[])
				.controller
				(
					"planner",
					function($scope, $timeout)
					{
						function yearWeek(dateData)
						{
							var date;
							var year;
							var nDay;
							var n1stThursday;
							var week;

							date = new Date(dateData.valueOf());
							year = date.getFullYear();

								// ISO week date weeks start on Monday, so correct the day number
							nDay = (date.getDay() + 6) % 7;

								// ISO 8601 states that week 1 is the week with the first Thursday of that year
								// Set the target date to the Thursday in the target week
							date.setDate(date.getDate() - nDay + 3);

								// Store the millisecond value of the target date
							n1stThursday = date.valueOf();

								// Set the target to the first Thursday of the year
								// First, set the target to January 1st
							date.setMonth(0, 1);

								// Not a Thursday? Correct the date to the next Thursday
							if (date.getDay() !== 4)
							{
								date.setMonth(0, 1 + ((4 - date.getDay()) + 7) % 7);
							}

								// The week number is the number of weeks between the first Thursday of the year
								// and the Thursday in the target week (604800000 = 7 * 24 * 3600 * 1000)

							week = 1 + Math.ceil((n1stThursday - date) / 604800000);

							if(week < 10)
							{
								week = "0" + week;
							}

							//return year + " #" + week;
							return{
								id : year + "#" + week,
								year : year,
								week : week
							};
						};

						function getTaskStuff(task, movable)
						{
							return{
								name : task.name,
								start : task.start,
								end : task.end,
								progress : task.progress,
								movable : movable
							};
						};

						function getDayStuff(day, weekDay)
						{
							var monthStuff = day.getMonth() + 1;

							var dayStuff=
							{
								day : day.getDate(),
								dayCode : day.getDate(),
								month : day.getMonth(),
								monthCode : monthStuff,
								year : day.getYear(),
								weekDay : weekDay
							};

							if(dayStuff.dayCode < 10)
							{
								dayStuff.dayCode = "0" + dayStuff.dayCode;
							}

							if(dayStuff.monthCode < 10)
							{
								dayStuff.monthCode = "0" + dayStuff.monthCode;
							}

							return dayStuff;
						};

						function newWeekData(weekData)
						{
							return {
								id : weekData.id,
								name : "S" + weekData.week,
								days : 1
							};
						};

						function newMonthData(monthData)
						{
							return {
								id : monthData.id,
								name : $scope.Month[monthData.index],
								days : 1
							};
						};

						function init()
						{
							var i;
							var j;
							var k;
							var l;
							var batches;
							var subBatches;
							var concepts;
							var estimatedConcepts;
							var start;
							var day;
							var end;
							var startTimestamp;
							var endTimestamp;
							var weekData;
							var monthData;
							var weekDay;
							var monthDay;
							var dayStuff;

							$scope.days = [];
							$scope.weeks = {};
							$scope.months = {};
							$scope.years = [];
							$scope.tasks = [];
							$scope.keys = Object.keys;

							$scope.weekDay=
							[
								"Do",
								"Lu",
								"Ma",
								"Mi",
								"Ju",
								"Vi",
								"Sa"
							];

							$scope.Month=
							[
								"Ene",
								"Feb",
								"Mar",
								"Abr",
								"May",
								"Jun",
								"Jul",
								"Ago",
								"Oct",
								"Nov",
								"Dic"
							];

							var tree=
							[
								{
									name : "Project",
									start : "2019-03-02",
									end : "2019-07-17",
									progress : 76,
									movable : false
								},
								{
									name : "Batch",
									start : "2019-04-15",
									end : "2019-07-15",
									progress : 15,
									parts:
									[
										{
											name : "Sub Batch",
											start : "2019-04-15",
											end : "2019-06-25",
											progress : 23,
											parts:
											[
												{
													nane : "Concept",
													start : "2019-04-16",
													end : "2019-06-20",
													progress : 80,
													parts:
													[
														{
															name : "Estimated Concept 0",
															start : "2019-04-20",
															end : "2019-07-10",
															progress : 15
														},
														{
															name : "Estimated Concept 1",
															start : "2019-06-05",
															end : "2019-06-10",
															progress : 37
														}
													]
												}
											]
										}
									]
								}
							];

							for(i = 0, batches = tree.length; i < batches; i++)
							{
								$scope.tasks.push(getTaskStuff(tree[i], false));

								if(tree[i].parts)
								{
									for(j = 0, subBatches = tree[i].parts.length; j < subBatches; j++)
									{
										$scope.tasks.push(getTaskStuff(tree[i].parts[j], false));

										if(tree[i].parts[j].parts)
										{
											for(k = 0, concepts = tree[i].parts[j].parts.length; k < concepts; k++)
											{
												$scope.tasks.push(getTaskStuff(tree[i].parts[j].parts[k], false));

												if(tree[i].parts[j].parts[k].parts)
												{
													for(l = 0, estimatedConcepts = tree[i].parts[j].parts[k].parts.length; l < estimatedConcepts; l++)
													{
														$scope.tasks.push(getTaskStuff(tree[i].parts[j].parts[k].parts[l], true));
													}
												}
											}
										}
									}
								}
							}

							start = new Date($scope.tasks[0].start + "T23:59:00.000Z");
							day = new Date(start);
							end = new Date($scope.tasks[0].end + "T23:59:00.000Z");
							startTimestamp = JSON.stringify(start);
							endTimestamp = JSON.stringify(end);

							weekDay = day.getDay();
							dayStuff = getDayStuff(day, day.getDay());
							$scope.days.push(dayStuff);

							weekData = yearWeek(day);
							$scope.weeks[weekData.id] = newWeekData(weekData);

							monthData=
							{
								id : dayStuff.year + "_" + dayStuff.monthCode,
								index : dayStuff.month,
								days : 1
							};

							$scope.months[monthData.id] = newMonthData(monthData);

							while(JSON.stringify(day).split("T")[0] != endTimestamp.split("T")[0])
							{
								day.setDate(day.getDate() + 1);
								weekDay = day.getDay();
								monthDay = day.getDate();
								dayStuff = getDayStuff(day, weekDay);
								$scope.days.push(dayStuff);

								if(weekDay != 1)
								{
									$scope.weeks[weekData.id].days++;
								}
								else
								{
									weekData = yearWeek(day);
									$scope.weeks[weekData.id] = newWeekData(weekData);
								}

								if(monthDay != 1)
								{
									$scope.months[monthData.id].days++;
								}
								else
								{
									monthData=
									{
										id : dayStuff.year + "_" + dayStuff.monthCode,
										index : dayStuff.month,
										days : 1
									};

									$scope.months[monthData.id] = newMonthData(monthData);
								}
							}
						};

						init();
					}
				);
		</script>
	</head>
	<body ng-app="gantt" ng-controller="planner">
		<div style="width : 100%;overflow-x : auto;">
			<table style="width : 100%; border : 1px solid #000000;">
				<!--<tbody>
					<tr>
						<td colspan="7">a</td>
						<td colspan="7">b</td>
						<td colspan="7">c</td>
						<td colspan="7">d</td>
					</tr>
				</tbody>
				<tbody>
					<td colspan="5">e</td>
					<td colspan="5">f</td>
					<td colspan="5">g</td>
					<td colspan="5">h</td>
					<td colspan="5">i</td>
					<td colspan="3">j</td>
				</tbody>
				<tbody>
					<td colspan="2">k</td>
					<td colspan="2">l</td>
					<td colspan="2">m</td>
					<td colspan="2">n</td>
					<td colspan="2">o</td>
					<td colspan="2">p</td>
					<td colspan="2">q</td>
					<td colspan="2">r</td>
					<td colspan="2">s</td>
					<td colspan="2">t</td>
					<td colspan="2">w</td>
					<td colspan="2">x</td>
					<td colspan="2">y</td>
					<td colspan="2">z</td>
				</tbody>-->
				<tbody>
					<tr>
						<td ng-repeat="month in keys(months)" colspan="{{months[month].days}}" style="text-align : center; border : 1px solid #000000;">
							{{months[month].name}}
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr ng-if="keys(weeks).length > 1">
						<td ng-repeat = "week in keys(weeks)" colspan="{{weeks[week].days}}" style="text-align : center; border : 1px solid #000000;">
							{{weeks[week].name}}
						</td>
					</tr>
					<tr>
						<td ng-repeat="day in days">
							<div style="border : 1px solid #000000; text-align : right; width : 50px;">
								{{weekDay[day.weekDay]}}
							</div>
						</td>
					</tr>
					<tr>
						<td ng-repeat="day in days">
							<div style="border : 1px solid #000000; text-align : right; width : 50px;">
								{{day.day}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
