<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="bootstrap.css" rel="stylesheet">
		<script src="moment.js"></script>
		<script src="hammer.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="angular.hammer.js"></script>
		<style>
			tr
			{
				-webkit-touch-callout : none;
				-webkit-user-select   : none;
				-khtml-user-select    : none;
				-moz-user-select      : none;
				-ms-user-select       : none;
				user-select           : none;
			}

			.slot
			{
				border : 1px solid #000000;
			}

			.cell
			{
				width  : 75px;
				height : 25px;
			}

			.number
			{
				text-align : right;
			}

			.task
			{
				background : #1166FF;
			}
		</style>
		<script>
			angular
				.module("gantt", ["hmTouchEvents"])
				.controller
				(
					"planning",
					function($scope)
					{
						var start           = "2020-01-01";
						var end             = "2020-12-31";
						var currentDrag     = null;
						$scope.currentTask  = null;

						function init()
						{
							$scope.tasks=
							[{
								name  : "Tarea",
								start : "2020-04-02",
								end   : "2020-07-22"
							}];

							$scope.dragPoint   = null;

							$scope.days = [];

							let count = $scope.tasks.length;

							var data;

							for(let i = 0; i < count; i++)
							{
								$scope.tasks[i]=
								{
									name : $scope.tasks[i].name,
									original:
									{
										start : $scope.tasks[i].start,
										end   : $scope.tasks[i].end
									},
									current:
									{
										start : $scope.tasks[i].start,
										end   : $scope.tasks[i].end
									}
								};
							}

							let day        = {ref : start};
							let dayMoment = moment(start, "YYYY-MM-DD");
							var data;
							var i = 0;

							while(day.ref <= end)
							{
								data = day.ref.split("-");

								$scope.days.push
								({
									id  : i,
									ref : day.ref,
									data:
									{
										year  : data[0],
										month : data[1],
										day   : data[2]
									}
								});

								i++;
								dayMoment.add(1,"days");
								day.ref = dayMoment.format("YYYY-MM-DD");
							}
						};

						var startPoint   = null;
						var currentPoint = null;
						var steps        = null;
						var drag         = null;
						var currentDrag  = null;

						$scope.dragStart = function(index, event)
						{
							startPoint         = event.center.x;
							currentPoint       = startPoint;
							$scope.currentTask = $scope.tasks[index];

							currentDrag=
							{
								start : moment($scope.currentTask.current.start, "YYYY-MM-DD"),
								end   : moment($scope.currentTask.current.end  , "YYYY-MM-DD")
							};
						};

						$scope.moveTask = function(event)
						{
							steps = Math.round((event.center.x - startPoint) / 75);

							if(steps == 0)
							{
								steps = 0;
							}

							drag=
							{
								start : moment(currentDrag.start.format("YYYY-MM-DD"), "YYYY-MM-DD"),
								end   : moment(currentDrag.end.format  ("YYYY-MM-DD"), "YYYY-MM-DD")
							};

							if(steps >= 0)
							{
								drag.start.add(steps, "days");
								drag.end.add  (steps, "days");
							}
							else
							{
								drag.start.subtract(-steps, "days");
								drag.end.subtract  (-steps, "days");
							}

							$scope.currentTask.current.start = drag.start.format("YYYY-MM-DD");
							$scope.currentTask.current.end   = drag.end.format("YYYY-MM-DD");
						};

						$scope.dragEnd = function()
						{
							$scope.currentTask = null;
						};

						init();
					}
				);
		</script>
	</head>
	<body ng-app="gantt" ng-controller="planning">
		<table>
			<tbody>
				<tr>
					<th class="slot">
						#
					</th>
					<th ng-repeat="day in days" class="slot">
						<div class="number cell">
							{{day.ref}}
						</div>
					</th>
				</tr>
				<tr ng-repeat="task in tasks">
					<th class="slot">
						{{task.name}}
					</th>
					<th ng-repeat="day in days" class="slot">
						<div class="cell" ng-class="(day.ref >= task.current.start && day.ref <= task.current.end) && 'task'"
						  hm-panstart="currentTask == null && dragStart($parent.$index, $event)" hm-panleft="currentTask != null && moveTask($event);"
						  hm-panright="currentTask != null && moveTask($event);"
						  hm-panend="dragEnd()"
						>
						</div>
					</th>
				</tr>
			</tbody>
		</table>
	</body>
</html>
