	<!DOCTYPE html>
<html>
	<head>
		<meta   charset="utf-8">
		<meta   http-equiv="X-UA-Compatible" content="IE=edge">
		<meta   name="viewport"              content="width=device-width, initial-scale=1">
		<link   rel="stylesheet" href="bootstrap.css">
		<link   rel="stylesheet" href="mobile-angular-ui-hover.min.css" />
		<link   rel="stylesheet" href="mobile-angular-ui-base.min.css" />
		<link   rel="stylesheet" href="mobile-angular-ui-desktop.min.css" />
		<link   rel="stylesheet" href="style.css" />
		<script src="moment.js"        ></script>
		<script src="angular.min.js"   ></script>
		<script src="mobile-angular-ui.min.js"></script>
		<script src="mobile-angular-ui.gestures.min.js"></script>
<script>
angular
	.module("gantt", ["mobile-angular-ui", "mobile-angular-ui.gestures"])
	.directive
	(
		"touchFn",
		function($touch, $parse)
		{
			return {
				restrict : "A",
				scope    : {fn : "&touchFn"},
				link     : function(scope, elem, attrs)
				{
					scope.touch         = null;

					$touch.bind
					(
						elem,
						{
							start : function(touch, event)
							{
								scope.containerRect = elem[0].getBoundingClientRect();
								scope.touch         = touch;

								scope.$apply();
								scope.$apply(scope.fn);
							},
							cancel : function(touch, event)
							{
								scope.touch = touch;

								scope.$apply();
								scope.$apply(scope.fn);
							},
							move : function(touch, event)
							{
								scope.touch = touch;

								scope.$apply();
								scope.$apply(scope.fn);
							},
							end : function(touch, event)
							{
								scope.touch = touch;

								scope.$apply();
								scope.$apply(scope.fn);
							}
						}
					);
				}
			};
		}
	)
	.controller
	(
		"planning",
		function($scope)
		{
			var end;
			var currentDrag = null;
			var currentTask = null;

			function init()
			{
				var overview=
				{
					date     : "2022-06-09",
					start    : "2022-03-01",
					end      : "2022-05-31",
					concepts:
					[
						{
							name : "Primer concepto",
							estimated_concepts :
							[{
								name     : "Primera estimación",
								//start : "2022-04-02",
								//end   : "2022-07-22",

								//start    : "2022-04-01",
								//end      : "2022-04-01",
								progress_concepts:
								[
									{
										date     : "2022-07-04",
										progress : 10
									},
									{
										date     : "2022-07-04",
										progress : 30
									},
									{
										date     : "2022-07-04",
										progress : 25
									},
									{
										date     : "2022-06-05",
										progress : 19
									}
								]
							}]
						}
					]
				};
					

				$scope.dragPoint   = null;
				$scope.days        = [];

				let count = overview.concepts[0].estimated_concepts.length;

				var data;

				$scope.selectedOverview = angular.copy(overview);

				for(let i = 0; i < count; i++)
				{
					$scope.selectedOverview.concepts[0].estimated_concepts[i].progDateCount = {};

					$scope.selectedOverview.concepts[0].estimated_concepts[i].progress=
					{
						start   : null,
						end     : null,
						percent :    0
					};

					if($scope.selectedOverview.concepts[0].estimated_concepts[i].progress_concepts.length > 1)
					{
						$scope.selectedOverview.concepts[0].estimated_concepts[i].progress.start=
							$scope.selectedOverview.concepts[0].estimated_concepts[i].progress_concepts[0].date;

						$scope.selectedOverview.concepts[0].estimated_concepts[i].progress.end=
							$scope.selectedOverview.concepts[0].estimated_concepts[i].progress_concepts[0].date;

						for(var progress of $scope.selectedOverview.concepts[0].estimated_concepts[i].progress_concepts)
						{
							if(progress.date < $scope.selectedOverview.concepts[0].estimated_concepts[i].progress.start)
							{
								$scope.selectedOverview.concepts[0].estimated_concepts[i].progress.start   = progress.date;
							}
							else
							{
								if(progress.date > $scope.selectedOverview.concepts[0].estimated_concepts[i].progress.end)
								{
									$scope.selectedOverview.concepts[0].estimated_concepts[i].progress.end = progress.date;
								}
							}

							$scope.selectedOverview.concepts[0].estimated_concepts[i].percent += progress.progress

							if($scope.selectedOverview.concepts[0].estimated_concepts[i].progDateCount[progress.date] == null)
							{
								$scope.selectedOverview.concepts[0].estimated_concepts[i].progDateCount[progress.date] = 0;
							}

							$scope.selectedOverview.concepts[0].estimated_concepts[i].progDateCount[progress.date]++;
						}
					}

					$scope.selectedOverview.concepts[0].estimated_concepts[i].defaulted = $scope.selectedOverview.concepts[0].estimated_concepts[i].start == null;

					if($scope.selectedOverview.concepts[0].estimated_concepts[i].defaulted)
					{
						$scope.selectedOverview.concepts[0].estimated_concepts[i].start = $scope.selectedOverview.start;

						$scope.selectedOverview.concepts[0].estimated_concepts[i].end = $scope.selectedOverview.concepts[0].estimated_concepts[i].progress.start != null
							? $scope.selectedOverview.concepts[0].estimated_concepts[i].progress.end
								: $scope.selectedOverview.end;
					}

					let days                                            = ((new Date($scope.selectedOverview.concepts[0].estimated_concepts[i].end) -
						new Date($scope.selectedOverview.concepts[0].estimated_concepts[i].start)) / 86400000) + 1;

					let progressDays                                    = days * ($scope.selectedOverview.concepts[0].estimated_concepts[i].progress / 100);
					$scope.selectedOverview.concepts[0].estimated_concepts[i].days               = days;
					$scope.selectedOverview.concepts[0].estimated_concepts[i].progressDays       = progressDays;
					$scope.selectedOverview.concepts[0].estimated_concepts[i].lastProgressDay    = Math.ceil(progressDays);
					$scope.selectedOverview.concepts[0].estimated_concepts[i].lastProgDayRemnant = (progressDays - (Math.floor(progressDays)));			
				}

				var data;
				$scope.editableOverview = angular.copy($scope.selectedOverview);
				let day                 = {ref : $scope.selectedOverview.start.split("-")[0] + "-01-01"};
				let dayMoment           = moment(day.ref, "YYYY-MM-DD");
				var i                   = 0;
				    end                 = $scope.selectedOverview.end.split("-")[0] + "-12-31";

				while(day.ref <= end)
				{
					data = day.ref.split("-");

					$scope.days.push
					({
						id    : i,
						ref   : day.ref,
						data:
						{
							year  : data[0],
							month : data[1],
							day   : data[2]
						}
					});

					i++;

					dayMoment.add(1, "days");

					day.ref = dayMoment.format("YYYY-MM-DD");
				}
			};

			var startPoint       =  null;
			var steps            =  null;
			var drag             =  null;
			var currentDrag      =  null;
			var currentTaskIndex =  null;
			var sideDrag         =  null;
			var computedStart    =  null;
			var computedEnd      =  null;
			var resultStart      =  null;
			var resultEnd        =  null;
			var flippedDrag      = false;

			function dragBegin(side, index, event)
			{
				startPoint  = event.startX;
				currentTask = $scope.editableOverview.concepts[0].estimated_concepts[index];
				flippedDrag = false;

				currentDrag=
				{
					start : moment(currentTask.start, "YYYY-MM-DD"),
					end   : moment(currentTask.end  , "YYYY-MM-DD")
				};

				sideDrag = side;
			};

			$scope.progressDisplay = function(dayRef, task)
			{		
				return $scope.dayCount(dayRef, task.start) < task.progressDays;
			}

			$scope.progEndDisplay = function(dayCount, progressDays)
			{
				if(dayCount < (progressDays - 1))
				{
					return {"width" : "100%"}
				}

				let intPart = Math.floor(progressDays);

				if(intPart == progressDays)
				{
					return {"width" : "100%"}
				}

				return {"width" : ((progressDays - intPart) * 100) + "%"};
			}

			$scope.checkBoundingValues = function(index)
			{
				if(angular.equals($scope.editableOverview.concepts[0].estimated_concepts[index], $scope.selectedOverview.concepts[0].estimated_concepts[index]))
				{
					return $scope.editableOverview.concepts[0].estimated_concepts[index].defaulted ? "defaulted" : "unchanged";
				}
				
				return (
					(
						$scope.editableOverview.concepts[0].estimated_concepts[index].progress.start != null
							&&
						(
							(
								$scope.editableOverview.concepts[0].estimated_concepts[index].start >
									$scope.editableOverview.concepts[0].estimated_concepts[index].progress.end ||
								$scope.editableOverview.concepts[0].estimated_concepts[index].start >
									$scope.editableOverview.concepts[0].estimated_concepts[index].progress.start
							)
									||
							(
								$scope.editableOverview.concepts[0].estimated_concepts[index].end  <
									$scope.editableOverview.concepts[0].estimated_concepts[index].progress.end ||
								$scope.editableOverview.concepts[0].estimated_concepts[index].end  <
									$scope.editableOverview.concepts[0].estimated_concepts[index].progress.start
							)
						)
					)
						||
					(
						$scope.editableOverview.concepts[0].estimated_concepts[index].start < $scope.editableOverview.start ||
						$scope.editableOverview.concepts[0].estimated_concepts[index].start > $scope.editableOverview.end
					)
				)
					? "outOfBounds" : "changed";
			}

			$scope.dayCount = function(dayRef, taskStart)
			{
				return ((new Date (dayRef) - new Date(taskStart)) / 86400000);
			}

			function moveTask(event)
			{
				steps = Math.round(event.distanceX / 75);

				if(!flippedDrag)
				{
					drag=
					{
						start : moment(currentDrag.start.format("YYYY-MM-DD"), "YYYY-MM-DD"),
						end   : moment(currentDrag.end.format  ("YYYY-MM-DD"), "YYYY-MM-DD")
					};
				}
				else
				{
					drag=
					{
						start : moment(currentDrag.end.format("YYYY-MM-DD"), "YYYY-MM-DD"),
						end   : moment(currentDrag.start.format("YYYY-MM-DD"), "YYYY-MM-DD")
					};
				}

				if(steps >= 0)
				{
					if(sideDrag <= 0)
					{
						drag.start.add(steps, "days");
					}

					if(sideDrag >= 0)
					{
						drag.end.add  (steps, "days");
					}
				}
				else
				{
					if(sideDrag <= 0)
					{
						drag.start.subtract(-steps, "days");
					}

					if(sideDrag >= 0)
					{
						drag.end.subtract  (-steps, "days");
					}
				}

				computedStart = drag.start.format("YYYY-MM-DD");
				computedEnd   = drag.end.format  ("YYYY-MM-DD");

				if(sideDrag == 0)
				{
					resultStart = computedStart;
					resultEnd   = computedEnd;
				}
				else
				{
					if(computedStart > computedEnd)
					{
						resultStart = computedEnd;
						resultEnd   = computedStart;
						sideDrag   *= -1;
						flippedDrag = !flippedDrag;
					}
					else
					{
						resultStart = computedStart;
						resultEnd   = computedEnd;
					}
				}

				if(sideDrag <= 0)
				{
					currentTask.start = resultStart;
				}

				if(sideDrag >= 0)
				{
					currentTask.end   = resultEnd;
				}

				currentTask.days               = ((new Date (currentTask.end) - new Date(currentTask.start)) / 86400000) + 1;
				currentTask.progressDays       = currentTask.days * (currentTask.progress / 100);
				currentTask.lastProgressDay    = Math.ceil(currentTask.progressDays);
				currentTask.lastProgDayRemnant = (currentTask.progressDays - (Math.floor(currentTask.progressDays)));
			};

			function dragFinish()
			{
				
				currentTask = null;
			};

			$scope.touchAction = function(side, touch, row, dayRef)
			{
				switch(touch.type)
				{
					case "touchstart":
						dragBegin(side, row, touch);
					break;
					case "touchmove":
						moveTask(touch)
					break;
					case "touchend":
						dragFinish();
					break;
				}
			};

			$scope.cellLayout = function(dayRef)
			{
				if($scope.selectedOverview.date == dayRef)
				{
					return "today";
				}


				if(dayRef >= $scope.selectedOverview.start && dayRef <= $scope.selectedOverview.end)
				{
					return "project";
				}
			}

			init();
		}
	);
</script>
	</head>
	<body ng-app="gantt" ng-controller="planning">
		<div>
			<div style="overflow-y : auto; height : 100vh;">
				<table>
					<thead>
						<tr>
							<th class="slot">
							</th>
							<th ng-repeat="day in days" class="slot" ng-class="{'onToday' : day.ref == selectedOverview.date}">
								<div class="number cell">
									{{day.ref}}
								</div>
							</th>
						</tr>
						<tr>
							<th class="slot">
								Proyecto
							</th>
							<th ng-repeat="day in days" class="slot" ng-class="cellLayout(day.ref)">
							</th>
						</tr>
					</thead>
					<tbody ng-repeat="concept in editableOverview.concepts">
						<tr>
							<th class="slot">
								<div class="cell" style="width : max-content;">
									{{concept.name}}
								</div>
							</th>
							<td ng-repeat="day in days" id="{{$parent.$index + '_' + $index}}" ng-class="cellLayout(day.ref)"
							  class="slot"
							>
							</td>
						</tr>
						<tr ng-repeat="task in concept.estimated_concepts">
							<th class="slot">
								<div class="cell" style="width : max-content;">
									{{task.name}}
								</div>
							</th>
							<td ng-repeat="day in days" id="{{$parent.$index + '_' + $index}}" ng-class="cellLayout(day.ref)"
							  class="slot"
							>
								<div ng-if="task.progDateCount[day.ref] != null" class="progressMarker">
									{{task.progDateCount[day.ref]}}
								</div>
								<div class="cell" ng-if="(day.ref >= task.start && day.ref <= task.end)">
									<div touch-fn="touchAction(-1, touch, $parent.$parent.$parent.$parent.$index, day.ref)"
									  class="taskEdge edgeLeft" ng-if="day.ref == task.start"
									>
										<span class="chevron left">
										</span>
									</div>
									<div touch-fn="touchAction(0, touch, $parent.$parent.$parent.$index, day.ref)" class="task"
									  ng-class="checkBoundingValues($parent.$parent.$index)"
									>
										{{progDay = dayCount(day.ref, task.start);""}}
										<div class="progress" ng-if="task.progress > 0 && progDay < task.progressDays"
										  ng-style="progEndDisplay(progDay, task.progressDays)"
										>
										</div>
									</div>
									<div touch-fn="touchAction(1, touch, $parent.$parent.$parent.$parent.$index, day.ref)"
									  class="taskEdge edgeRight" ng-if="day.ref == task.end"
									>
										<span class="chevron right">
										</span>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
